:host {
  background-color: var(--color-bg-dark);
}

.carousel-wrapper {
  padding-bottom: 1rem;
}

.side-image {
  width: 120px;
  height: 80px;
}

.carousel-image {
  height: 25.25rem;
  object-fit: cover;
}

.side-image-container {
  background-color: var(--color-primary-dark);
}
