<div
  class="register-wrapper d-flex justify-content-center align-items-center flex-column"
>
  <form
    class="k-form k-form-md register-form border p-4 rounded w-50"
    [formGroup]="form"
  >
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">Registrazione</legend>

      <!-- Nome -->
      <kendo-formfield>
        <kendo-label text="Nome"></kendo-label>
        <kendo-textbox formControlName="firstName" required></kendo-textbox>
        <kendo-formerror>Campo obbligatorio</kendo-formerror>
      </kendo-formfield>

      <!-- Cognome -->
      <kendo-formfield>
        <kendo-label text="Cognome"></kendo-label>
        <kendo-textbox formControlName="lastName" required></kendo-textbox>
        <kendo-formerror>Campo obbligatorio</kendo-formerror>
      </kendo-formfield>

      <!-- Email -->
      <kendo-formfield>
        <kendo-label text="Email"></kendo-label>
        <kendo-textbox formControlName="email" required></kendo-textbox>
        <kendo-formerror>Email non valida</kendo-formerror>
      </kendo-formfield>

      <!-- Data di nascita -->
      <kendo-formfield>
        <kendo-label text="Data di nascita"></kendo-label>
        <kendo-datepicker
          formControlName="birthDate"
          [format]="'dd/MM/yyyy'"
        ></kendo-datepicker>
        <kendo-formerror>Campo obbligatorio</kendo-formerror>
      </kendo-formfield>

      <!-- Codice fiscale -->
      <kendo-formfield>
        <kendo-label text="Codice Fiscale"></kendo-label>
        <kendo-textbox formControlName="fiscalCode" required></kendo-textbox>
        <kendo-formerror>Codice non valido</kendo-formerror>
      </kendo-formfield>

      <!-- Pulsanti -->
      <!-- TODO: capire come emttere lo stile come il login -->
      <div class="k-form-buttons mt-3">
        <button kendoButton class="series-e" (click)="submit()">
          Registrati
        </button>
        <button kendoButton look="outline" (click)="clear()">Reset</button>
      </div>
    </fieldset>
  </form>

  <div class="text-center mt-4">
    <span>Hai già un account?</span>
    <a routerLink="/login" class="text-decoration-none series-e-bold">Accedi</a>
  </div>
</div>
