<div class="flex-grow-1" kendoTooltip position="right">
  <ul class="nav nav-pills flex-column mb-auto text-center">
    @for (section of sections; track section.route) {
    <li [class.d-none]="section.title === 'Products' && isLoggedIn">
      <a
        routerLink="{{ section.route }}"
        routerLinkActive="active"
        class="nav-link py-3 border-bottom rounded-0 text-white"
        title="{{ section.title }}"
      >
        <i class="bi {{ section.icon }} fs-5"></i>
      </a>
    </li>
    }
  </ul>
</div>

<!-- Avatar -->
<div kendoTooltip title="Profilo" position="right">
  <a
    routerLink="/login"
    routerLinkActive="active"
    class="nav-link border-top py-3 d-flex justify-content-center align-items-center"
  >
    <img src="/assets/propic.jpg" alt="user" class="rounded-circle avatar" />
  </a>
</div>
