/* You can add global styles to this file, and also import other style files */
/* const globali dei componenti: */
:root {
  --navbar-height: 3.625rem;
  --sidebar-width: 4rem;
  --avatar-size: 2rem;
  /* Palette colori globale */
  --color-primary: #8d00f9;
  --color-dark: #2b0a3d;
  --color-accent: #be9fd6;
  --color-bg: #f5f5f5; /* preferisco questo bianco */
  /* --color-bg: #fbfbfb; */
  --color-bg-dark: #202124;
  --color-primary-dark: #2c2e32;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden; /*TODO: provvisorio o fisso? per ora messo per non far scrollare la pagina e nascondere le parti "sporche". in caso in futuro metterò solo per la X o Y, da capire */
  scrollbar-color: #666 #201c29; /* copiata ispezionando la scrollbar di https://css-tricks.com/custom-scrollbars-in-webkit/ */
}

* {
  box-sizing: border-box;
}

/* TODO: per il cambio da dark a light mode, solo per la home */
body {
  background-color: var(--color-bg);
}

body.dark-home {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
}

/* la scroll bar così è invisibile */
::-webkit-scrollbar-track {
  background: transparent;
}
/* CSS trick l'ha così, ma la preferisco transparent */
/* ::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
} */
