<div class="card h-100 shadow-sm">
  <img [src]="imageUrl()" [alt]="title()" class="card-img" />

  <div class="card-body px-0">
    <h5 class="card-title">{{ title() }}</h5>
    <p class="card-text">{{ description() }}</p>
  </div>

  <div
    class="card-footer d-flex justify-content-between align-items-center px-0"
  >
    <span class="price-badge">{{ price() }}&nbsp;€</span>
    <button class="icon-button" aria-label="Aggiungi al carrello">
      <i class="bi bi-bag fs-5"></i>
    </button>
  </div>
</div>
